<mat-list>
  <mat-list-item>
    <a class="sidenav-list-item " routerLink="/signup" (click)="toggleSidenav()">
      <mat-icon>face</mat-icon>
      <span>Signup</span>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a class="sidenav-list-item " routerLink="/login" (click)="toggleSidenav()">
      <mat-icon>input</mat-icon>
      <span>Login</span>
    </a>
  </mat-list-item>
  <mat-list-item>
    <a class="sidenav-list-item " routerLink="/training" (click)="toggleSidenav()">
      <mat-icon>fitness_center</mat-icon>
      <span>Training</span>
    </a>
  </mat-list-item>
  <mat-list-item>
    <button mat-icon-button class="sidenav-list-item " (click)="toggleSidenav()">
      <mat-icon>eject</mat-icon>
      Logout
    </button>
  </mat-list-item>
</mat-list>
