<mat-card>
  <mat-card-title>
    time to start workout!
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <mat-select placeholder="Exercise">
        <mat-option value="chest">
          Chest
        </mat-option>
        <mat-option value="back-end">
          Back-Hand
        </mat-option>
        <mat-option value="front-end">
          Front-Hand
        </mat-option>
        <mat-option value="back">
          Back
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button type="submit" mat-button (click)="onGoingTraining()">Start</button>
  </mat-card-actions>
</mat-card>
