<form [formGroup]="newTrainingForm" (ngSubmit)="onGoingTraining()">
  <mat-card>
    <mat-card-title>
      time to start workout!
    </mat-card-title>
    <mat-card-content>
      <mat-form-field *ngIf="!isLoading && availableExercise">
        <mat-select placeholder="Exercise" formControlName="exercise" required>
          <mat-option *ngFor="let exercise of availableExercise" [value]="exercise.id">
            {{exercise.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions *ngIf="!isLoading">
      <button *ngIf="availableExercise" [disabled]="!newTrainingForm.valid" type="submit" mat-button>Start</button>
      <button *ngIf="!availableExercise" (click)="fetchExersices()" type="button" mat-button>Fetch Again</button>
    </mat-card-actions>
  </mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</form>
