.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 300px;
}

.hint {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

button {
  margin-top: 5px;
}
