mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
  height: 100%;
}

mat-sidenav {
  width: 200px;
}

mat-toolbar {
  /* justify-content: space-between; */
}

.toolbar-links-list {
  display: flex;
}

.toolbar-links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

a:hover,
a:active {
  color: lightgrey;
}

.toolbar-links-item {
  margin-left: 5px;
}

.sidenav-list-item {
  color: black;
  padding: 5px;
}

@media screen and (max-width: 600px) {
  .big {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .small {
    display: none;
  }
}
