<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" #sidenav>
    im the sidenav
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="toolbar-button">
        <button mat-icon-button class="toolbar-button-item" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div routerLink="/" class="toolbar-logo">
        LOGO
      </div>
      <div class="toolbar-links">
        <ul class="toolbar-links-list">
          <li class="toolbar-links-item">
            <a routerLink="/signup">Signup</a>
          </li>
          <li class="toolbar-links-item">
            <a routerLink="/login">Login</a>
          </li>
          <li class="toolbar-links-item">
            <a routerLink="/training">Training</a>
          </li>
        </ul>


      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
