mat-sidenav-container,
mat-sidenav,
mat-sidenav-content {
  height: 100%;
}

mat-sidenav {
  width: 200px;
}

mat-toolbar {
  /* justify-content: space-between; */
}

.toolbar-links-list {
  display: flex;
}

.toolbar-links {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

a:hover,
a:active {
  color: lightgrey;
}

.toolbar-links-item {
  margin-left: 10px;
}
