<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" #sidenav>
    im the sidenav
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="toolbar-button">
        <button class="toolbar-button-item" (click)="sidenav.toggle()">
          toggle sidenav
        </button>
      </div>
      <div routerLink="/" class="toolbar-logo">
        LOGO
      </div>
      <div class="toolbar-links">
        <a routerLink="/signup">Signup</a>
        <a routerLink="/login">Login</a>
        <a routerLink="/training">Training</a>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
