<mat-toolbar color="primary">
  <div class="toolbar-button small">
    <button mat-icon-button class="toolbar-button-item" (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div routerLink="/" class="toolbar-logo">
    LOGO
  </div>
  <div class="toolbar-links big">
    <ul class="toolbar-links-list">
      <li class="toolbar-links-item" *ngIf="!isLogin">
        <a class="toolbar-list-item" routerLink="/signup">Signup</a>
      </li>
      <li class="toolbar-links-item" *ngIf="!isLogin">
        <a class="toolbar-list-item" routerLink="/login">Login</a>
      </li>
      <li class="toolbar-links-item" *ngIf="isLogin">
        <a class="toolbar-list-item" routerLink="/training">Training</a>
      </li>
      <li class="toolbar-links-item" *ngIf="isLogin">
        <a class="toolbar-list-item" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
